# Ignore the vscode folder.
/.vscode/

# Ignore the testing folder.
/test/

# Some testing needs to be done before optimizing the theme selector.
/components

# Other stuff to ignore
/my-content.html
/website/content/caption-template.html
/website/content/picture-template.html