/** 
YOURSPACE PAGE - made by Nyar @ https://fear.garden
I originally made this for personal use in 2019, and I've been messing around with it ever since. Quality is a bit meh, but hey, it works!
Feel free to customise to your heart's content.
**/

:root {
	--color_brightest: #ffedf0;
	--color_bright: #ffdee4;
	--color_original: #ffc0cb;
	--color_darkest: #ff4863;
	--color_text: black;
}


@font-face {
	font-family: "London Tube";
	src: url("fonts/LondonTube.ttf");
}


/** general **/
body, html {
	margin: 0;
	padding: 0;
	font-family: "London Tube";
}
body {
	background: var(--color_brightest);
	color: var(--color_text);
}
body, table {font: 14px;}
a {color: #003399;}

button{
	margin: 5px;
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: transparent;
}


h1, h2, h3 {
	background: var(--color_original);
	border-radius: 10px;
}
h1, h2, h3, th {
	box-sizing: border-box;
	color: #000;
	margin: 0;
	padding: 2px 4px;
}
h1, h2 {
	width: 100%;
	text-align: center;
}
h1 {font-size: 20px;}
h2 {font-size: 16px;}
h3 {
	display: inline-block;
	font-size: 15px;
	margin: 2px 3px; 
	padding: 2px 4px;
}
img, iframe {max-width: 100%;}
table {width: 100%;}
th {
	background: var(--color_original);
	color: #203670;
	text-align: center;
	width: auto;
}

/** class **/
.box {
	background: var(--color_bright);
	border: var(--color_darkest) 2px solid;
	margin: 10px 0;
	text-align: center;
	padding: 20px;
	border-radius: 15px;
}
.center {text-align: center;}
.container, .footer, .header {
	background: var(--color_original);
	box-sizing: border-box;
	border-left: var(--color_darkest) 2px solid;
	border-right: var(--color_darkest) 2px solid;
	box-sizing: border-box;
	margin: 0 auto;
	width: 850px;
}
.container {
	height: 100%;
	padding: 0 1em 1em;
}
.columns {
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: 292px auto;
	width: 100%;
}
.curve {border-radius: 7px;}
.footer, .header {
	background: var(--color_bright);
	box-sizing: border-box;
}
.footer {
	border-top: var(--color_darkest) 2px solid;
	padding: 10px 30px 10px;
}
.header {
	border-bottom: var(--color_darkest) 2px solid;
	padding: 0 30px 10px;
	text-align: center;
}
.header span {
	padding: 0 15px;
}
.header .title {
	color: #000;
	font-size: 200% ;
	text-align: left;
	text-decoration: none;
}
.imagecontainer {
	float: left;
	padding: 5px;
}

.image {
	border: solid;
	border-color: #000;
	border-radius: 15px;
}


/** Images that change between light and dark themes **/

#lily-intro{
	content: url(images/compute_light.png);
}

#deviantart{
	content: url(images/contact_info/contact_light_deviantart.png);
}
#bluesky{
	content: url(images/contact_info/contact_light_bluesky.png);
}
#discord{
	content: url(images/contact_info/contact_light_discord.png);
}
#tgcaps{
	content: url(images/contact_info/contact_light_tg.png);
}

#theme-selected{
	content: url(images/themes/theme_vibrantpink.png);
}


/** id **/
#contact a {
	font-weight: bold;
	text-decoration: none;
}

#interests td, #details td {width: 70%;}
#url span {font: 12px monospace;}

/* Button themes */
#pink {
	background-color: var(--color_darkest);
	color: white;
}


/** Small screens **/
@media (max-width: 865px) {
	.container, .navbar, .footer, .header {width: 100%;}
	.columns {grid-template-columns: 100%;}
	.box {margin: 1em 0;}
	.box:last-child {margin: 0;};
}